<!DOCTYPE html>
<html>
	<head>
		<title>{{ meta.title }}</title>
		<meta name="description" content="{{ meta.description }}">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/static/css/core.css">
		<link rel="stylesheet" href="/static/css/components.css">
	</head>
	<body>

		<div class="st_game" tabindex="0">
			<div class="st_track"></div>
			<div class="st_hud">
				<nav class="st_nav">
					<ul>
						<li><a href="/">Homepage</a></li>
					</ul>
				</nav>
				<div class="st_controls">
					<button class="st_controls_back" type="button">&laquo;</button>
					<button class="st_controls_next" type="button" disabled>&raquo;</button>
				</div>
			</div>
		</div>

		<script src="/static/js/loader.js"></script>
		<script>var loader = new LOADER( { src_prefix: '/static/js/' } );</script>
		<script src="/static/js/game.js"></script>

	</body>
</html>