<!DOCTYPE html>
<html>
	<head>
		<title>{{ meta.title }}</title>
		<meta name="description" content="{{ meta.description }}">
		<link rel="stylesheet" href="/static/css/core.css">
		<link rel="stylesheet" href="/static/css/components.css">
	</head>
	<body>

		<main>
{{ content | safe }}
		</main>

		{% for script in scripts -%}
		<script{% if script.src %} src="{{ script.src }}"{% endif %}>{{ script.content | safe }}</script>
		{%- endfor %}

	</body>
</html>
