<!DOCTYPE html>
<html>
	<head>
		<title>{{ meta.title }}</title>
		<meta name="description" content="{{ meta.description }}">
		<link rel="stylesheet" href="/static/css/core.css">
		<link rel="stylesheet" href="/static/css/components.css">
	</head>
	<body>

		<main>
			<h1>Screaming Tyres</h1>
			<p>A turn based multiplayer racing game that runs in your browser.</p>
			<noscript>
				<p><strong>Important caveat:</strong> Screaming Tyres requires JavaScript in order to function. See <a href="https://www.enable-javascript.com/">enable-javascript.com</a> for help enabling JavaScript.</p>
			</noscript>
			<p>Based on an old <a href="https://en.wikipedia.org/wiki/Racetrack_(game)">pen-and-paper game</a>, Screaming Tyres pits 2&ndash;6 players against each other in a race to get over the finish line first.</p>
			<p>Screaming tyres is a slow-moving side project in development on <a href="https://github.com/nckprsn/screamingtyres">GitHub</a>.</p>
			<nav>
				<ul>
					<li><a href="/new">New game</a></li>
					<li><a href="/join">Join a game</a></li>
				</ul>
			</nav>
		</main>

		<script src="/static/js/loader.js"></script>
		<script>var loader = new LOADER( { src_prefix: '/static/js/' } );</script>
		<script src="/static/js/example.js"></script>

	</body>
</html>
