
@import '../dot/dot.scss';

.st_car
{
	// --------------------------------------------------

	$width: 1em;
	$height: 1em;

	// --------------------------------------------------

	--position_x: 0;
	--position_y: 0;
	--angle: 0;
	--colour: grey;

	// --------------------------------------------------

	transform: translate( calc( var( --position_x ) * 1em ) , calc( var( --position_y ) * 1em ) ) rotate( calc( var( --angle ) * 1deg + 90deg ) );

	transition: transform 200ms ease-out;

	// --------------------------------------------------

	display: block;
	width: $width;
	height: $height;

	// Make transparent to mouse hover
	pointer-events: none;

	position: absolute;
	z-index: 100;

	// --------------------------------------------------

	& > svg
	{
		position: absolute;
		display: block;
		width: $width;
		height: $height;
		position: absolute;

		color: var( --colour );
	}

	// --------------------------------------------------

	&::after
	{
		content: '2';

		display: block;
		width: $width;
		height: $height;
		position: absolute;

		line-height: $height;
		text-align: center;

		color: black;
		// background: white;
		// border-radius: 50%;

		font-family: sans-serif;
		font-weight: bold;

		transform: scale( 0.225 ) translatey( 0.70em );
	}

	// --------------------------------------------------
}
