
.st_viewport
{
	// --------------------------------------------------

	display:block;
	width:100vw;
	height:100vh;

	overflow:scroll;

	// --------------------------------------------------
}

.st_track
{
	font-size: 2.5em;

	$width: 56;
	$height: 48;

	display: block;
	width: #{ $width }em;
	height: #{ $height }em;

	position: relative;

	$grid_colour: rgba( grey , 0.4 );
	$grid_size: 1em;

	background:
		// linear-gradient(  0deg , $grid_colour 1px , transparent 1px , transparent calc( 100% - 1px ) , $grid_colour calc( 100% - 1px ) , transparent ) 0 0 / #{ $grid_size } #{ $grid_size },
		// linear-gradient( 90deg , $grid_colour 1px , transparent 1px , transparent calc( 100% - 1px ) , $grid_colour calc( 100% - 1px ) , transparent ) 0 0 / #{ $grid_size } #{ $grid_size },
		#4DC448 url( '/static/images/track_background.png' ) center center / cover no-repeat;
}
