
// --------------------------------------------------

*, *::before, *::after { box-sizing: border-box; }

// --------------------------------------------------

*:first-child { margin-top: 0; }
*:last-child { margin-bottom: 0; }

// --------------------------------------------------

body
{
	min-height: 100vh;

	margin: 0;
	padding: 0;
}

// --------------------------------------------------
