
main
{
	// --------------------------------------------------

	padding: 2em calc( 50% - 20em );

	// --------------------------------------------------

	// display: grid;


	// --------------------------------------------------

	& > *
	{
		margin: 2em;
	}

	// --------------------------------------------------
}


img
{
	// --------------------------------------------------

	display: block;
	max-width: 100%;
	// width: 100%;

	// --------------------------------------------------
}


figure
{
	// --------------------------------------------------


	// --------------------------------------------------
}
