
.st_cursor
{
	// --------------------------------------------------

	$width: 1em;
	$height: 1em;

	// --------------------------------------------------

	--position_x: 0;
	--position_y: 0;
	--colour: grey;

	// --------------------------------------------------

	transform: translate( calc( var( --position_x ) * 1em ) , calc( var( --position_y ) * 1em ) );

	transition: transform 60ms ease-out;

	// --------------------------------------------------

	display: block;
	width: $width;
	height: $height;

	position: absolute;

	// --------------------------------------------------
	// Solid ring of cursor's colour

	&::before
	{
		content: '';
		display: block;
		position: absolute;
		width: $width;
		height: $height;

		border: 0.1em solid var( --colour );
	}

	// --------------------------------------------------
	// Pulsing white ring

	&::after
	{
		content: '';
		display: block;
		position: absolute;
		width: $width;
		height: $height;

		border: 0.1em solid white;

		animation: st_cursor_pulse 120ms infinite;
	}

	// --------------------------------------------------
}

@keyframes st_cursor_pulse
{
	  0% { opacity: 1; }
	 50% { opacity: 0; }
	100% { opacity: 1; }
}
