
.st_cursor
{
	// --------------------------------------------------

	$width: 1em;
	$height: 1em;

	// --------------------------------------------------

	--position_x: 0;
	--position_y: 0;
	--colour: grey;

	// --------------------------------------------------

	transform: translate( calc( var( --position_x ) * 1em ) , calc( var( --position_y ) * 1em ) );

	transition: transform 60ms ease-out;

	// --------------------------------------------------

	display: block;
	width: $width;
	height: $height;

	position: absolute;
	z-index: 50;

	// --------------------------------------------------

	@include map_item_highlight();

	// --------------------------------------------------
}
